{% extends 'home/base.html' %}
{% block navbar %} {% include 'home/navbar.html' %} {% endblock %}
{% load static %}
{% block content %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active"> Sign In </li>
				 {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{ message }}
                            </div>
                            {% endfor %}
                {% endif %}
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

                <div class="col-md-5">
                    <div class="billing-details">

                        <div class="section-title">
                            <h3 class="title">Sign in </h3>
                        </div>

                        

                        <form method="POST">
                             {% csrf_token %}
                             <div class="form-group">
								<input class="input" type="text" name="username" placeholder="UserName">
							</div>
                          
							<div class="form-group">
								<input class="input" type="password" name="password" placeholder="Your Password">
							</div>
							
                            <button class="primary-btn">Submit</button>
							<div class="row">
							<div class="col-md-6">
							<p>don't have an account?<a href="{% url 'accounts:register' %}">Register</a></p></div>
							<div class="col-md-4"> <a href="{% url 'accounts:reset_password' %}">Forgot Password?</a></div></div>
							
                        </form>



                    </div>
                </div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}