{% extends 'home/base.html' %}
{% block navbar %} {% include 'home/navbar.html' %} {% endblock %}
{% load static %}
{% block content %}

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active"> Reset password </li>
				 {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                            {{ message }}
                            </div>
                            {% endfor %}
                {% endif %}
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

                <div class="col-md-5">
                    <div class="billing-details">

                        <div class="section-title">
                            <h3 class="title">Reset Password </h3>
                        </div>

                        

                        <form method="POST">
                             {% csrf_token %}
                             <div class="form-group">
                             <div class="row">
                             <div class="col-md-12">
								<div class="col-md-10"><input class="input" type="text" name="email" placeholder="Your email"></div>
							<div class="col-md-2"><button class="primary-btn">Send</button></div>
                            </div>
                            </div>
                            </div>
                      
                        </form>



                    </div>
                </div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}