 
    {% load static %}
	
<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
               
                
                <!--category nav -->
				
				  <div class="category-nav show-on-click">
				
					<span class="category-header ">Categories <i class="fa fa-list"></i></span>
					{% load myapptags %}
					 {% categoryTree 0 '' as category %}
					<ul class="category-list">
						
					 {{ category | safe  }}
					</ul>
				</div>  
                <!-- /category nav-->
                


				<!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'product:product_list' %}">Shop</a></li>
						<li><a href="{% url 'home:contact' %}">Contact</a></li>

					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
    <!--NAVIGATION-->
    